#landing_div {
  background-color: brown;
  color: yellow;
}

#login1_div {
  background-color: brown;
  color: yellow;
  height: auto;
}

#login2_div {
  background-color: brown;
  color: yellow;
  height: 2000px;
}

#login3_div {
  background-color: brown;
  color: yellow;
  height: 2000px;
  font-size: xx-large;
}

#login4_div {
  background-color: brown;
  color: yellow;
  height: 3000px;
}

#loginfinal_div {
  background-color: brown;
  color: yellow;
  height: 3000px;
}

#register_div {
  background-color: brown;
  color: yellow;
  margin:auto;
  height: 100vh;
}

#register_form_div {
  animation: Annoy .5s linear infinite;
  position: relative;
  background-color: brown;
}

@keyframes Annoy {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}