#landing_div {
  background-color: brown;
  color: yellow;
}

#login1_div {
  background-color: brown;
  color: yellow;
  height: auto;
}

#login2_div {
  background-color: brown;
  color: yellow;
  height: 2000px;
}